body{
    font-family: 'Nunito';
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.mainMottoSection{
    max-width:430px;
    min-width: 430px;
    display: block;
    margin-right: 120px;
    
}
.Enroll{
    background-color: #EC4067;
    border-radius: 10px;
    width: 70px;
    height: 25px;

    padding-top: 5px;
    padding-bottom: 0;
    text-align: center;
    color: white;
    font-weight: 200;
  
}
li{
    padding: 8px;
}

.menuLink{
    list-style-type: none;
    display: flex;
    margin-top: 0;
    float: right;
    margin-left: 600px;
    
}
.menuLink a{
    text-decoration: none;
}
.menuLink2 a{
    text-decoration: none;
    color: white;
}
.menuLink2{
    display: flex;
    margin-left: 0;
    
}

#study{
    border-image-width: 50%;
}
.Navi{
    width: 100px;
    height: 20px;
    background-color:white;
    text-align: center;
    border-style: solid;
    border: 1px solid #EC4067;
    font-weight: 200;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 7px;
}
.Navi2{
    width: 100px;
    height: 25px;
    background-color: #EC4067;
  
    text-align: center;
    color: white;
    font-weight: 200;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
}
.ImageWord{
    padding-top: 10px;
    display: flex;
}
.stori{
    background-color: rgb(184, 189, 192);
}
.StoriSize{
    font-size: x-large;
}
a{
    text-decoration: none;
}


.imageTitle{
    padding: 30px;
    font-size: large;
}

.mentorS{
    position: absolute;
    display:grid; 
    width: auto;
    
}
.mentorImage{
    max-width: 10px;
   
}
.mentorName{
    position: absolute;
    margin-top: 190px;
    margin-left: 28px;
    text-align: center;
    color: white;
    font-weight: bold;

}
.style:hover{
    opacity: 0.9;
    transform: scale(1.1);
    transition: 1s;
}
.ImageWord2{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-column: 1;
}
.NaviMentor{
    width: 120px;
    height: 25px;
    background-color: #EC4067;
  
    text-align: center;
    color: white;
    font-weight: 200;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
}
.NaviMentor a{
    font-size:17px;
}
.staff{
    display: flex;

}

.bikeButton{
    padding: 5px;
    text-align: center;
    border: 1px solid #EC4067;
    border-radius: 5px;
    background-color: #EC4067;
    
}
.bike{
    width: 500px;
    margin-left: 20px;
    padding-top: 90px;

}

.bikeButton a{
    color: white;

}
.bottomContainer{
    margin-top: 50px;
    background-color: rgb(231, 236, 236);
    height: 60px;
    text-align: center;
    padding: 30px;
    color: rgb(139, 142, 145);
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.wordSection{
    max-width:400px;
    min-width: 400px;
    display: block;
}
.wordSection strong{
    font-size: x-large;
    
}
.mentorsHeading{
    position: relative;
    margin-bottom: 20px;
}

